version: "3.8"
services:
  db:
    image: postgis/postgis:15-3.4
    container_name: milan_mobility_db
    environment:
      POSTGRES_DB: milan_mobility
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:

